.tocset {
  position: fixed;
  overflow: scroll;
  height: 100%;
  padding-top: 1rem;
}

.navsettop {
  display: none;
}

/* New styles just for Pyret */

.boxed .SIntrapara {
  margin: 0;
}

.indent-arg {
  margin-left: 1.5em;
}

.boxed blockquote {
  margin-bottom: 0;
}

.pyret-header {
  margin-bottom: 1rem;
}

.pyret-highlight {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}

.pyret-highlight.good-ex::before {
   content: "✔";
   font-size: 2rem;
   color: #008800;
   float: right;
}

.pyret-highlight.good-ex {
   background-color: #eeffee;
}

.pyret-highlight.bad-ex {
   background-color: #ffeeee;
}

.pyret-highlight.bad-ex::before {
   content: "✘";
   font-size: 2rem;
   color: #880000;
   float: right;
}

.pyret-highlight.ok-ex {
   background-color: #ffffee;
}


pre.pyret-block {
   padding-bottom: 1rem;
   margin: 0;
}



.bnf-meta {
  color: gray;
  font-size: 115%;
}

.bnf-lit {
  font-family: monospace;
  font-weight: bold;
}

.bnf-lit.bnf-unknown {
  background-color: unset;
  border: unset;
  font-style: italic;
}                      
